inner.rs

/.env
/http-cacache
/prpr/build.rs
/target
/assets/font.ttf
/assets/charts
/assets/texture
/wbindgen
/dist
Cargo.lock
/conf.yml
/cache
/data
/.cargo
/config.txt
/assets/char.png
/assets/background.jpg

# Mac

._*
/run_ios.sh
/prebuild_ios.sh
/build_ios.sh
/build
/*.ipa
/prpr.app
/Assets.xcassets
/LaunchScreen.storyboard
/prpr.xcodeproj
/dist
/project.yml
/prpr.scent
/.cargo

# Test

/log*
