inner.rs

/.env
/http-cacache
/prpr/build.rs
/target
/assets/font.ttf
/assets/charts
/assets/texture
/wbindgen
/dist
/conf.yml
/cache
/data
/.cargo
/config.txt
/assets/char.png
/assets/background.jpg
/assets/res
/test.uml
/monitor-config.yml
/.vscode

/prpr-avc/static-lib

# Mac

._*
.DS_Store
/run_ios.sh
/prebuild_ios.sh
/build_ios.sh
/build
/*.ipa
/phira.app
/Assets.xcassets
/LaunchScreen.storyboard
/phira.xcodeproj
/dist
/project.yml
/prpr.scent
/.cargo

# Test

/test
/log*
/build_event_debug.sh
